__pycache__/
*.py[cod]
microbench/build/

**/result/**/*.ptx
**/result/**/*.cubin
**/result/**/*.sass
**/result/**/*.fatbin
**/result/**/*.o
**/result/**/*.obj
**/result/**/*.a
**/result/**/*.so
**/result/**/*.so.*
**/result/**/*.bin
**/result/**/*.exe
**/result/**/*.elf
**/result/**/benchmark
**/result/**/benchmark_*
**/result/**/*.ncu-rep
**/result/**/*.nsys-rep
**/result/**/*.qdrep
**/results/**/*.ptx
**/results/**/*.cubin
**/results/**/*.sass
**/results/**/*.fatbin
**/results/**/*.o
**/results/**/*.so
**/results/**/*.ncu-rep
**/results/**/*.nsys-rep
